cord19-trec_covid-docs
cord19-trec_covid-qrels
cord19-trec_covid-queries
output.dict
indexfile.idx
indexfile.dict
BPE_progress.png
indexfile -bpe.idx
indexfile bpe.dict
output_bpe.dict
output_simple.dict
output.dict
test
train_data-20240902T162302Z-001.zip
WPE_progress.png
__pycache__/dict_cons.cpython-39.pyc
bpe/*
inverted_index/*
non_ascii/*
wpe/*
WPE_output.dict
wpe_progress.pkl
retreval.txt
simple.dict
simple.idx
output_bpe_2000.dict
output_wpe.dict
output.dict
outputwpe_alph.dict
bpe_progress.pkl
output.dict
BPE_F1_alphanumeric_only.png
BPE_retrival_cross.pkl
BPE_retrival.pkl
BPE_test_99.dict
BPE_test_99.idx
BPE.dict
BPE.idx
Efficiecy.png
encoded.txt
inverted index only alphanumeric.png
inverted_Progress_BPE.pkl
inverted_Progress_WPE.pkl
README.md
result_BPE.txt
result_WPE.txt
retreval_BPE.txt
retreval_simple.txt
retreval_WPE.txt
WPE_efficiency_alphanumeric_only.png
WPE_efficiency.png
WPE_F1_non_ascii.png
WPE_retrival.pkl
WPE.dict
WPE.idx
__pycache__/dict_cons.cpython-312.pyc
__pycache__/tf_idf_retrieval.cpython-312.pyc
README.md
2024AIZ8314.zip
README.md
